extend layout 
block content 
    h2 Welcome to my site
    p 
        | This is my site. It's pretty cool.
        | I hope you like it.
        | If you have any questions, please contact me.
    p 
        | This site is powered by
        a(href='http://expressjs.com')  Express
        |   and
        a(href='http://jade-lang.com')  Jade.
block sidebar
    .widget 
    h3 Contact me
    p 
        | You can contact me.
        | I'm pretty cool.
    p 
        | My email is example@gmail.com
        | or you can call me at 555-555-5555.