
Doctype 
html
  head
    title #{title}  - My site
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header 
     h1 My site
     .container 
        .main-content
          block content
        .sidebar 
          block sidebar
    footer 
      p &copy; 2013 My site